In [176]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['imbd-sf', '.ipynb_checkpoints']

In [177]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [178]:
len(data)

1890

# Предобработка датасета

In [179]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [180]:
#data[['imdb_id', 'budget']]
#max_budget = data['budget'].max()
#max_budget
#data[data.budget > 420000000]
data[data.budget == data['budget'].max()][['imdb_id', 'original_title','budget']]

       imdb_id     original_title     budget
491  tt1032751  The Warrior's Way  425000000

In [181]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)#

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [182]:
#data['runtime'].max()
#data[data.runtime > 200]
data[data.runtime == data['runtime'].max()][['imdb_id', 'original_title','runtime']]

        imdb_id     original_title  runtime
1158  tt0279111  Gods and Generals      214

In [183]:
answer_ls.append(2)#

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [184]:
#data['runtime'].min()
#data[data.runtime < 65]
data[data.runtime == data['runtime'].min()][['imdb_id', 'original_title','runtime']]

       imdb_id   original_title  runtime
769  tt1449283  Winnie the Pooh       63

In [185]:
answer_ls.append(3)#

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [186]:
round(data['runtime'].mean())

110

In [187]:
answer_ls.append(2)#

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [188]:
round(data['runtime'].median())

106

In [189]:
answer_ls.append(1)#

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [191]:
data['profit'] = data.revenue - data.budget
#data[['imdb_id', 'original_title','revenue', 'budget', 'profit']]
#data[data.revenue == data['revenue'].max()][['imdb_id', 'original_title','revenue', 'budget', 'profit']]
data[data.profit == data['profit'].max()][['imdb_id', 'original_title','revenue', 'budget', 'profit']]

       imdb_id original_title     revenue     budget      profit
239  tt0499549         Avatar  2781505847  237000000  2544505847

In [192]:
answer_ls.append(5)#

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [193]:
data['profit'] = data.revenue - data.budget
#data[['imdb_id', 'original_title','revenue', 'budget', 'profit']]
#data[data.revenue == data['revenue'].min()][['imdb_id', 'original_title','revenue', 'budget', 'profit']]
data[data.profit == data['profit'].min()][['imdb_id', 'original_title','revenue', 'budget', 'profit']]

       imdb_id     original_title   revenue     budget     profit
491  tt1032751  The Warrior's Way  11087569  425000000 -413912431

In [194]:
answer_ls.append(2)#

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [195]:
data['profit'] = data.revenue - data.budget
#data[['imdb_id', 'original_title','revenue', 'budget', 'profit']]
#data[data.profit < 0][['imdb_id', 'original_title','revenue', 'budget', 'profit']]
len(data[data.profit > 0])

1478

In [196]:
answer_ls.append(1)#

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [197]:
data['profit'] = data.revenue - data.budget
data_filtered = data[data.release_year == 2008]
data_filtered[data_filtered.profit == data_filtered.profit.max()][['imdb_id', 'original_title','revenue', 'budget', 'profit']]

       imdb_id   original_title     revenue     budget     profit
600  tt0468569  The Dark Knight  1001921825  185000000  816921825

In [198]:
answer_ls.append(4)#

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [199]:
data['profit'] = data.revenue - data.budget
data_filtered = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
#data_filtered['release_year'].unique()
data_filtered[data_filtered.profit == data_filtered.profit.min()][['imdb_id', 'original_title','revenue', 'budget', 'profit']]

        imdb_id   original_title   revenue     budget     profit
1246  tt1210819  The Lone Ranger  89289910  255000000 -165710090

In [200]:
answer_ls.append(5)#

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [201]:
import itertools, collections
#data.keys()
#data

def top_genre(data):
    #data_genres = data['genres'].map(lambda x: x.split('|'))
    #data_genres = [x.split('|') for x in data['genres']]
    data_genres = data.genres.str.split('|')
    genres_chain = itertools.chain.from_iterable(data_genres)
    genres_counter = collections.Counter(genres_chain)
    #print(genres_counter.most_common(1), genres_counter)
    return genres_counter.most_common(1)

top_genre(data)

[('Drama', 782)]

In [202]:
answer_ls.append(3)#

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [203]:
#data
data['profit'] = data.revenue - data.budget
data_filtered = data[data.profit > 0]
#data_filtered[['imdb_id', 'original_title','revenue', 'budget', 'profit']]

top_genre(data_filtered)

[('Drama', 560)]

In [29]:
answer_ls.append(1)#

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [204]:
def most_productive_director(data):
    #data_parsed = data['director'].map(lambda x: x.split('|'))
    #data_parsed = [ x.split('|') for x in data['director'] ]
    data_parsed = data.director.str.split('|')
    chain = itertools.chain.from_iterable(data_parsed)
    #chain1 = itertools.chain.from_iterable(data_parsed)
    #print(len(list(chain1)), len(data))
    counter = collections.Counter(chain)
    #print(counter)
    return counter.most_common(1)

most_productive_director(data)

[('Steven Soderbergh', 13)]

In [205]:
answer_ls.append(3)#

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [206]:
data['profit'] = data.revenue - data.budget
data_filtered = data[data.profit > 0]
most_productive_director(data_filtered)

[('Ridley Scott', 12)]

In [207]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [208]:
data['profit'] = data.revenue - data.budget
grby_director = data.groupby(['director'])['profit'].sum()
grby_director[grby_director == grby_director.max()]

director
Peter Jackson    5202593685
Name: profit, dtype: int64

In [223]:
data['director_parsed'] = data.director.str.split('|')
#d1 = data.explode('director_parsed')
#print (pd.__version__) # 0.24.2
profit = []
director = []
for idex,row in data.iterrows():
    for i in row.director_parsed:
        #print(i)
        profit.append(row.profit)
        director.append(i)
df = pd.DataFrame(director, columns=['director'])
df['profit'] = profit
grby_director = df.groupby(['director'])['profit'].sum()
grby_director[grby_director == grby_director.max()]

director
Peter Jackson    5202593685
Name: profit, dtype: int64

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [224]:
def count_cast(data):
    df = pd.DataFrame(data[['profit']], columns=['profit'])
    #df['cast_parsed'] = [ x.split('|') for x in data['cast'] ]
    df['cast_parsed'] = data.cast.str.split('|')
    counter = collections.Counter()
    for index, row in df.iterrows():
        for i in row.cast_parsed:
            counter[i] += row.profit
    return counter

data['profit'] = data.revenue - data.budget
count_cast(data).most_common(1)

[('Emma Watson', 6666245597)]

In [225]:
answer_ls.append(1)#

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [226]:
data['profit'] = data.revenue - data.budget
data_2012 = data[data.release_year == 2012]
count_cast(data_2012).most_common()[-1]

('Kirsten Dunst', -68109207)

In [227]:
answer_ls.append(3)#

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [229]:
mean_budget = data.budget.mean()
hi_budget = data[data.budget > mean_budget]
#cast = [ x.split('|') for x in hi_budget['cast'] ]
cast = hi_budget.cast.str.split('|')
chain = itertools.chain.from_iterable(cast)
counter = collections.Counter(chain)
counter.most_common(1)

[('Matt Damon', 18)]

In [230]:
answer_ls.append(3)#

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [231]:
#data['cast_parsed'] = [ x.split('|') for x in data['cast'] ]
#data['genres_parsed'] = [ x.split('|') for x in data['genres'] ]
data['cast_parsed'] = data.cast.str.split('|')
data['genres_parsed'] = data.genres.str.split('|')
df = data[['cast_parsed', 'genres_parsed']]
df_filter = [any( x == 'Nicolas Cage' for x in y) for y in df.cast_parsed]
chain = itertools.chain.from_iterable(df[df_filter].genres_parsed)
counter = collections.Counter(chain)
counter.most_common(1)

[('Action', 17)]

In [232]:
answer_ls.append(2)#

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [252]:
#data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
data['production_companies_parsed'] = data.production_companies.str.split('|')

chain = itertools.chain.from_iterable(data.production_companies_parsed)
counter = collections.Counter(chain)
counter.most_common(1)

[('Universal Pictures', 173)]

In [265]:
#
l = counter.most_common()
test = ['Universal', 'Paramount', 'Columbia', 'Warner', 'Fox']
for copmany in test:
    f = [i for i,j in l if i.find(copmany) > -1]
    df = pd.DataFrame(l, columns=['company', 'movies'])
    #display(df[df['company'].str.find(copmany) > -1])
    display(df[df['company'].str.contains(copmany)])
    #l[company] = df[df['company'].str.find(copmany) > -1].movies.sum()
    print(df[df['company'].str.contains(copmany)].movies.sum())
#l
#f = [i for i,j in l if i.find('Warner') > -1]
#f = [i for i,j in l if i.find('Universal') > -1]
#f = list(filter(lambda x,y: x.find('Universal') > -1, l))
#df = pd.DataFrame(l, columns=['company', 'movies'])
#display(df[df['company'].str.find('Universal') > -1])

                                     company  movies
0                         Universal Pictures     173
161                        Universal Studios       6
439                                Universal       3
690   Universal Pictures International (UPI)       1
1000               Universal Cartoon Studios       1
1097          Universal Pictures Corporation       1
1548             Universal Animation Studios       1
1589                           Universal CGI       1

187

                  company  movies
2      Paramount Pictures     122
106     Paramount Vantage      10
240   Paramount Animation       5
1566   Paramount Classics       1

138

                                                company  movies
3                                     Columbia Pictures     117
13                        Columbia Pictures Corporation      47
172   Province of British Columbia Production Servic...       6
479                                    Columbia TriStar       2
1330     Province of British Columbia Film Incentive BC       1

173

                                    company  movies
1                              Warner Bros.     168
70                    Warner Bros. Pictures      13
215                  Warner Bros. Animation       5
322       Warner Independent Pictures (WIP)       4
804  Warner Bros. Interactive Entertainment       1

191

                                     company  movies
4     Twentieth Century Fox Film Corporation     109
19                         Fox 2000 Pictures      35
33                  Fox Searchlight Pictures      24
51                          20th Century Fox      17
98           Twentieth Century Fox Animation      10
229                               Fox Atomic       5
409                          Fox Searchlight       3
466            Fox International Productions       2
864      20th Century Fox Home Entertainment       1
949                    Twentieth Century Fox       1
1062                      Foxtor Productions       1
1751                   Fox Animation Studios       1

209

In [44]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
#data.head()
data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
filtered = data[data.release_year == 2015]
chain = itertools.chain.from_iterable(filtered.production_companies_parsed)
counter = collections.Counter(chain)
counter.most_common(1)

[('Warner Bros.', 12)]

In [46]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [47]:
data['profit'] = data.revenue - data.budget
data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
data['genres_parsed'] = [ x.split('|') for x in data['genres'] ]
#df = data[['genres_parsed', 'production_companies_parsed', 'profit']]
df_filter = [any( x == 'Comedy' for x in y) for y in df.genres_parsed]
counter = collections.Counter()
for index, row in data[df_filter].iterrows():
    for i in row.production_companies_parsed:
        counter[i] += row.profit
counter.most_common(1)

[('Universal Pictures', 8961545581)]

In [48]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [49]:
data['profit'] = data.revenue - data.budget
data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
filtered = data[data.release_year == 2012]
counter = collections.Counter()
for index, row in filtered.iterrows():
    for i in row.production_companies_parsed:
        counter[i] += row.profit
counter.most_common(1)

[('Columbia Pictures', 2501406608)]

In [50]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [51]:
data['profit'] = data.revenue - data.budget
data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
df_filter = [any( x == 'Paramount Pictures' for x in y) for y in data.production_companies_parsed]
data[data.profit == data[df_filter].profit.min()][['original_title', 'imdb_id']]

           original_title    imdb_id
926  K-19: The Widowmaker  tt0267626

In [52]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [53]:
data['profit'] = data.revenue - data.budget
data_gr = data.groupby(['release_year']).profit.sum().reset_index()
data_gr[data_gr.profit == data_gr.profit.max()]

    release_year       profit
15          2015  18668572378

In [54]:
answer_ls.append(5)#

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [55]:
#display(data.production_companies.head(100))
data['profit'] = data.revenue - data.budget
data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
#data['production_companies_parsed']
#df_filter = [any( x == 'Warner Bros.' for x in y) for y in data.production_companies_parsed]
df_filter = [any( x.find('Warner Bros') > -1 for x in y) for y in data.production_companies_parsed]
data_gr = data[df_filter].groupby(['release_year']).profit.sum().reset_index()
data_gr
data_gr[data_gr.profit == data_gr.profit.max()]
#"qwe".find('w')

    release_year      profit
14          2014  2295464519

In [56]:
answer_ls.append(4)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [57]:
data['release_month'] = [ x.split('/')[0] for x in data['release_date'] ]
data.head()
gr = data.groupby(by = 'release_month').count()
gr[gr.imdb_id == gr.imdb_id.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,cast_parsed,genres_parsed,production_companies_parsed
release_month,,,,,,,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

In [58]:
answer_ls.append(4)#

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [59]:
data['release_month'] = [ x.split('/')[0] for x in data['release_date'] ]
data.head()
gr = data.groupby(by = 'release_month').count()
gr.imdb_id[['6','7','8']].sum()

450

In [60]:
answer_ls.append(2)#

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [61]:
data['director_parsed'] = [ x.split('|') for x in data['director'] ]
data['release_month'] = [ int(x.split('/')[0]) for x in data['release_date'] ]
df_filter = [any( y == x for x in [1, 2, 12]) for y in data.release_month]
data[df_filter].head(10)
chain = itertools.chain.from_iterable(data[df_filter].director_parsed)
counter = collections.Counter(chain)
counter.most_common(1)

[('Peter Jackson', 7)]

In [62]:
answer_ls.append(5)#

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [63]:
data['profit'] = data.revenue - data.budget
data['release_month'] = [ int(x.split('/')[0]) for x in data['release_date'] ]
counter = collections.Counter(chain)
grouped = data[['release_year', 'release_month', 'profit']].groupby('release_year')
for name, group in grouped:
    month_profit = group.groupby('release_month')['profit'].sum().reset_index()
    month_max = month_profit[month_profit.profit == month_profit.profit.max()].iloc[0]['release_month']
    counter[month_max] += 1
pd.DataFrame(counter.most_common(1), columns = ['month', 'count'])

   month  count
0      6      7

In [64]:
answer_ls.append(2)#

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [65]:
data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
data['original_title_len'] = [ len(x) for x in data['original_title']]
data[['original_title', 'original_title_len', 'production_companies_parsed']].head()
chain = itertools.chain.from_iterable(data.production_companies_parsed)
production_companies = list(collections.Counter(chain))
counter = collections.Counter()
for company in production_companies:
    filter = [ any( j == company for j in i ) for i in data.production_companies_parsed]
    counter[company] = data[filter]['original_title_len'].mean()
counter.most_common(1)

[('Four By Two Productions', 83.0)]

In [66]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [67]:
data['production_companies_parsed'] = [ x.split('|') for x in data['production_companies'] ]
data['original_title_words'] = [ len(x.split(' ')) for x in data['original_title']]
data[['original_title', 'original_title_words', 'production_companies_parsed']].head()
chain = itertools.chain.from_iterable(data.production_companies_parsed)
production_companies = list(collections.Counter(chain))
counter = collections.Counter()
for company in production_companies:
    filter = [ any( j == company for j in i ) for i in data.production_companies_parsed]
    counter[company] = data[filter]['original_title_words'].mean()
counter.most_common(1)

[('Four By Two Productions', 12.0)]

In [68]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [69]:
#import string
#table = str.maketrans('', '', string.punctuation)
#d = data['original_title_parsed'] = data['original_title'].str.lower().str.translate(table).str.split(' ')

d = data['original_title_parsed'] = data['original_title'].str.lower().str.split(' ')
chain = itertools.chain.from_iterable(d)
c = collections.Counter(chain)
words = pd.DataFrame(c.most_common(), columns = ['word', 'count'])
len(words[words.word != '-'])

2461

In [70]:
answer_ls.append(3)#

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [71]:
d = data[['vote_average', 'original_title']].sort_values(by=['vote_average'], ascending=False).reset_index()
d_1p = d.iloc[:len(data) // 100]

test = {
1:[['Inside Out', 'Gone Girl', '12 Years a Slave']],
2:[['BloodRayne', 'The Adventures of Rocky & Bullwinkle']],
3:[['The Lord of the Rings: The Return of the King','Upside Down']],
4:[['300', 'Lucky Number Slevin']],
5:[['Inside Out','The Lord of the Rings: The Return of the King','300', 'Upside Down']]
}
#movies = ['Inside Out', 'Gone Girl', '12 Years a Slave',
#'BloodRayne', 'The Adventures of Rocky & Bullwinkle',
#'The Lord of the Rings: The Return of the King',
#'300', 'Lucky Number Slevin', 'Upside Down']
#f = [ any(i == j for j in movies) for i in data.original_title]
#f = [ i in movies for i in d.original_title]
#f = [ i in movies for i in d_1p.original_title]
#d_1p[f]
#[ any( x == j for x in d_1p[f].original_title) for i,j in test.items()]

df = pd.DataFrame.from_dict(test, orient='index', columns=['movies']).reset_index()
df['result'] = [ all([ any(d_1p.original_title == test_m) for test_m in test_ms]) for test_ms in df.movies]
df

   index                                             movies  result
0      1          [Inside Out, Gone Girl, 12 Years a Slave]    True
1      2  [BloodRayne, The Adventures of Rocky & Bullwin...   False
2      3  [The Lord of the Rings: The Return of the King...   False
3      4                         [300, Lucky Number Slevin]   False
4      5  [Inside Out, The Lord of the Rings: The Return...   False

In [72]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [73]:
data['cast_parsed'] = [sorted(d) for d in data.cast.str.split('|')]
#display(data[['cast_parsed', 'cast']].head())
c = collections.Counter(chain)
for df in data.cast_parsed:
    for i in range(len(df) - 1):
        for j in range(1, len(df) - i):
            c[df[i] +' & ' + df[i+j]] += 1
c.most_common(5)

[('Daniel Radcliffe & Emma Watson', 8),
 ('Daniel Radcliffe & Rupert Grint', 8),
 ('Emma Watson & Rupert Grint', 8),
 ('Ben Stiller & Owen Wilson', 6),
 ('Helena Bonham Carter & Johnny Depp', 6)]

In [74]:
answer_ls.append(5)#

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [128]:
data['profit'] = data.revenue - data.budget
data['director_parsed'] = data.director.str.split('|')
ans = ['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
data.head()
#f = [ d in ans for d in data.director]
#data_director = data[f][['director', 'profit']]
f_p = [ any(dp in ans for dp in d) for d in data.director_parsed]
data_director_p = data[f_p][['director_parsed', 'profit']]
#display(data_director_p)
profit = []
director = []
for idex,row in data_director_p.iterrows():
#for idex,row in data.iterrows():
    for i in row.director_parsed:
        #print(i)
        profit.append(row.profit)
        director.append(i)
df = pd.DataFrame(director, columns=['director'])
df['profit'] = profit

f = [ d in ans for d in df.director]
df[f].head()
d = data[['director_parsed', 'profit']]
#d1 = d.explode()
#d1 = d.explode('director_parsed')
#d1
#print (pd.__version__)

In [135]:
#df.groupby('director').mean().sort_values(['profit'],ascending=False)
def f_all(x):
    poz = len(x[x.profit > 0])
    neg = len(x[x.profit < 0])
    all = len(x)
    return [all, poz, neg, poz/all]
#    return poz/all
#df
df1 = pd.DataFrame(df.groupby('director').apply(f_all)).reset_index()
#df1 = pd.DataFrame(df.groupby('director').apply(fu)).reset_index()
df1.head(20)
#df1_count = pd.DataFrame(df.groupby('director').count()).reset_index()
#df1['c'] = df1_count.profit

#df1['c'] = df1_count
#df1['count'] = df.groupby('director').count().profit
#df.groupby('director').count().profit
#df1_f = [ d in ans for d in df1.director]
#df1[df1_f]
#df1.sort_values(by='c')

                          director                 0
0                    Aaron Seltzer    [5, 4, 1, 0.8]
1                       Adam McKay    [6, 6, 0, 1.0]
2                    Adam Shankman  [8, 7, 1, 0.875]
3                     Adam Wingard    [1, 0, 1, 0.0]
4                      Adrian Lyne    [1, 1, 0, 1.0]
5                   Akiva Goldsman    [1, 0, 1, 0.0]
6                      Alan Parker    [1, 0, 1, 0.0]
7                        Alan Poul    [1, 1, 0, 1.0]
8                      Alan Taylor    [2, 2, 0, 1.0]
9              Alastair Fothergill    [1, 1, 0, 1.0]
10                   Albert Hughes    [2, 2, 0, 1.0]
11               Alejandro Agresti    [1, 1, 0, 1.0]
12             Alejandro AmenÃ¡bar    [2, 1, 1, 0.5]
13  Alejandro GonzÃ¡lez IÃ±Ã¡rritu    [4, 4, 0, 1.0]
14            Alejandro Monteverde    [1, 0, 1, 0.0]
15                 Aleksander Bach    [1, 1, 0, 1.0]
16                    Alex Garland    [1, 1, 0, 1.0]
17                   Alex Kurtzman    [1, 0, 1, 0.0]
18                     Alex Proyas    [2, 2, 0, 1.0]
19                 Alexander Payne    [4, 4, 0, 1.0]

In [175]:
profit = []
director = []
for idex,row in data_director_p.iterrows():
#for idex,row in data.iterrows():
    for i in row.director_parsed:
        #print(i)
        profit.append(row.profit)
        director.append(i)
df = pd.DataFrame(director, columns=['director'])
df['profit'] = profit
df
def f_all(x):
    poz = len(x[x.profit > 0])
    neg = len(x[x.profit < 0])
    all = len(x)
    return [all, poz, neg, poz/all]
#    return poz/all
def f_pos(x):
    poz = len(x[x > 0])
#    neg = len(x[x < 0])
#    all = len(x)
    return poz
def f_prc(x):
    poz = len(x[x.profit > 0])
    neg = len(x[x.profit < 0])
    all = len(x)
    return poz/all
#df
#s = pd.DataFrame(df.groupby('director').apply(f_pos)).reset_index()
s = pd.DataFrame(df.groupby('director')['profit'].apply(f_pos)).reset_index()
#df_pos = pd.DataFrame(df.groupby('director').apply(f_prc)).reset_index()
df1_count = pd.DataFrame(df.groupby('director').count()).reset_index()
s.columns = ['director', 'positive']
s['q'] = df1_count.profit
#percent = s.positive
#count = s.positive / s.q
#count
s['percent'] = s.positive / s.q *100
ss = s.sort_values(by=['percent','q'], ascending=False)
ss.head(20)

             director  positive   q     percent
0   Christopher Nolan         8   8  100.000000
4      Ethan Maniquis         1   1  100.000000
7   Quentin Tarantino         6   7   85.714286
1      Clint Eastwood        10  12   83.333333
10  Steven Soderbergh        10  13   76.923077
9    Robert Rodriguez         8  11   72.727273
5        Frank Miller         1   2   50.000000
2        Edgar Wright         0   1    0.000000
3            Eli Roth         0   1    0.000000
6       Jason Eisener         0   1    0.000000
8          Rob Zombie         0   1    0.000000

In [77]:
d = {'a': 1, 'b': 2}
a = ['s','d']
s = pd.Series(d)
df = pd.DataFrame(s)
df['a'] = a
df

   0  a
a  1  s
b  2  d

In [78]:
answer_ls.append(4)

# Submission

In [79]:
len(answer_ls)

35

In [80]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       1
15  16       3
16  17       3
17  18       2
18  19       1
19  20       4
20  21       2
21  22       3
22  23       1
23  24       5
24  25       4
25  26       4
26  27       2
27  28       5
28  29       2
29  30       5
30  31       5
31  32       3
32  33       1
33  34       5
34  35       1